#mentoring {
  scroll-margin-top: 70px;
}

.mentoring {
  width: 100%;
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: 'Playfair Display';
}

.mentoring__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.mentoring__content h3 {
  font-size: 2rem;
  font-weight: 600;
  color: #050505;
}

.mentoring__content p {
  max-width: 31.875rem;
  font-size: 0.875rem;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: #050505;
}

.mentoring__carousel {
  display: flex;
	padding: 10px;
	height: auto;
	width: 100%;
	gap:15px;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  padding: 0 24px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.mentoring__carousel::-webkit-scrollbar {
  display: none; 
}

.mentoring__cards {
  flex: 0 0 100%;
	padding: 5px;
  scroll-snap-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 135px;
  position: relative;
	border: solid;
}

.image-cards {
  width: 100%;
  height: 83.32%;
	
  position: absolute;
  top: 0;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  z-index: 0;
}

.mentoring__text-card {
  height: 165px;
	width: 100%;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
	
  z-index: 1;

}

.mentoring__text-card p {
  letter-spacing: 0.05em;
	text-align: center;
	font-size:12px;
}

/* Layout padrão em telas ≥ 768px */
@media screen and (min-width: 768px) {
  .mentoring__carousel {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    overflow: unset;
  }

  .mentoring__cards {
    width: 100%;
    max-width: 100%;
  }
}
