.degrade {
  position: relative;
  top: -25px;         /* sobe metade da altura para invadir a anterior */
  height: 50px;
  width: 100%;
  z-index: 5;
  pointer-events: none;
  filter: blur(22.5px);

  background: linear-gradient(90deg, #FAEEBD 0%, #FCF6DC 49.49%, #FFFEFB 99.99%);
}
