.plans_container{
  text-align: center;
  padding: 1.5rem;
  background: #fdfaf5;
  overflow: hidden;
  min-height: auto;
  padding-top: 80px;
 
}
.plans_container h1{
  color: #050505;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem; /* 125% */
}
.plans_container p {
  color: #050505;
  text-align: center;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.0625rem; /* 121.429% */
}
.plans_subtitle {
  font-size: 0.85rem;
  max-width: 80%;
  margin: 0.5rem auto 1.5rem;
  color: #333;
}

.plans_indicator-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.plans_indicator {
  width: 26px;
  height: 12px;
  border-radius: 8px;
  border: 1.5px solid #000;
  background: transparent;
}

.plans_indicator.active {
  background: #26433b;
}

.plans_carousel-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plans_card {
  display: flex;
  width: 15rem;
  
  padding: 0.625rem 1.875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;

  border-radius: 1.875rem;
  background: #FFF;
  box-shadow: 0px 3px 9.7px 2px #000;

  min-height: 27.625rem; 
  height: auto;
}

.plans_card h2 {
  width: 5.0625rem;
  height: 3.75rem;
  color: #050505;
  font-family: Lato;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; 
  text-align: start;

}

.plans_card .price {
  color: #1C4140;
  font-family: Lato;
  font-size: 1.59375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem; 
}

.plans_card .desc {
  color: #4B5563;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; 
  text-align: start;
  }

.plans_card .duration {
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem; 
}

.plans_card ul {
  color: #050505;
  font-family: Lato;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; 
  text-align: start;
  position: relative;
}

.plans_card ul li {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  list-style: none;
}

.plans_card-0 {
  background: #fff; 
}
.plans_card-1 h2,
.plans_card-1 .price,
.plans_card-1 .type,
.plans_card-1 .desc,
.plans_card-1 .duration,
.plans_card-1 ul,
.plans_card-1 ul li {
  color: #fff;
}

.plans_card-1 {
  background: #1C4140; 
}
.plans_card-2 {
  background: #fff; /* Plano Intermediário */
}
.plans_card-3 h2,
.plans_card-3 .price,
.plans_card-3 .type,
.plans_card-3 .desc,
.plans_card-3 .duration,
.plans_card-3 ul,
.plans_card-3 ul li {
  color: #fff;
}
.plans_card-3 {
  background: #1C4140; /* Plano Avançado */
}


.plans_cta-btn {
  position: absolute;
  bottom: -21px; /* já estava bom */
  left: 50%;
  transform: translateX(-50%);
  
  width: 131px;
  height: 42px;
  border-radius: 20px;
  border: 1px solid rgba(125, 96, 0, 0.71);
  background: linear-gradient(180deg, #1C4140 0%, #2A5B5A 100%);
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 12px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: left;
}

.plans_cta-icon {
  flex-shrink: 0;
}

.plans_cta-text {
  display: inline-block;
  text-align: center;
  white-space: pre-line;
}
.plans_card-1 .plans_cta-icon path,
.plans_card-3 .plans_cta-icon path {
  stroke: #1C4140;
}
.plans_card-1 .plans_cta-btn,
.plans_card-3 .plans_cta-btn {
  background: #fff;
  border: 1px solid #1C4140;
  color: #1C4140;
}
.plans_nav-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #1d5c54;
  cursor: pointer;
  padding: 0 1rem;
}

.left-plans {
  position: absolute;
  left: 0;
}

.right-plans {
  position: absolute;
  right: 0;
}

