/* CSS (TipsSection.css)
============================= */

/* Base */
.dicas {
  width: 100%;
  background-color: #fffdf9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 24px;
  gap: 50px;
  text-align: center;
  font-size: 32px;
  color: #050505;
  font-family: 'Playfair Display';
  box-sizing: border-box;
  overflow-x: hidden;
}

.dicas__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.dicas__content h3 {
  letter-spacing: 0.05em;
  font-weight: 600;
}

.dicas__content p {
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  max-width: 990px;
}

/* Carrossel Mobile */
.dicas__books {
  
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;


}

.dicas__books::-webkit-scrollbar {
  display: none;
}

.books {
  flex: 0 0 auto;
  min-width: 280px; /* importante! */
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  justify-content: center;
}

.books__images {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.books__text {
  font-size: 0.9rem;
  text-align: center;
  color: #333;
  max-width: 220px;
  padding: 0 10px;
}

/* Desktop */
@media (min-width: 450px) {
  .dicas {
    padding: 80px 60px;
    gap: 60px;
    font-size: 34px;
  }

  .dicas__books {
    overflow: visible;
    scroll-snap-type: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 60px;
    gap: 48px 60px;
  }

  .books {
    width: 100%;
    max-width: 240px;
    height: auto;
  }

  .books__text {
    font-size: 1rem;
    max-width: 240px;
  }
}

@media (min-width: 1024px) {
  .dicas {
    padding: 100px 100px;
    gap: 70px;
    font-size: 36px;
  }

  .dicas__books {
    padding: 0 100px;
    gap: 60px 80px;
  }

  .books {
    max-width: 280px;
  }

  .books__text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    max-width: 280px;
  }
}
