

/**? HERO */
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5.625rem;
  padding-top: 50px;
  height: auto;
}

.hero__content{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 1.5625rem;
  flex: 1 0 0;
}
.hero__title{
  max-width: 32.375rem;
  align-self: center;
}
.hero__content h1{
  color: #1C4140;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Playfair Display";
  font-size: 2.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.13125rem;
  margin-top: 50px;
  width: 18.125rem;
}
.hero__sub-title{
  max-width: 32.375rem;
  align-self: center;
}
.hero__content p{
  color: #000;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 290px;
}
.hero__comments{
  display: flex;
  padding: 0rem 5.375rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3.125rem;
  align-self: stretch;
  flex-wrap: wrap;
  padding-bottom: 50px;
}
.btn_hero{
  display: flex;
  padding-right: 1rem;
  align-items: center;
  gap: 0.65625rem;
  border-radius: 1.1875rem 0.6875rem 0.6875rem 1.1875rem;
  border: 1px solid var(--ouro-2, rgba(125, 96, 0, 0.71));
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.60);
  color: #1C4140;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.09rem;
  transition: background-color 0.8s ease;
}
.btn_hero:hover{
  background-color: #1C4140;
  color: #fff;
  cursor: pointer;
}
.btn_hero img {
  transition: transform 0.8s ease;
}
.btn_hero:hover img {
  transform: scale(1.1);
}
.card{
  width: 14rem;
}
.card h2{
  color: #000;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}
.card p {
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
/*? Degradê do hero pro plans */
.degrade{
  display: flex;
  border: solid;
  height: 2.1875rem;
  background: linear-gradient(90deg, #FAEEBD 0%, #FCF6DC 49.49%, #FFFEFB 99.99%);
  filter: blur(22.5px);
}
/*! Responsivo do Hero */
@media (min-width: 600px) {
.hero__content h1{
 width: 32.375rem;
 font-size: 3rem;
 max-width: 32.375rem;
}
.hero__content p{
  width: 400px;
}
}
@media (min-width: 1440px) {
.hero{
 height: 100vh;
}
}

/**? PLANS */
/* #plans {
  scroll-margin-top: 70px; 
}
.plans__carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 2rem;
}
.plans__carousel-track {
  display: flex;
  gap: 2rem;
  transition: transform 0.5s ease;
  will-change: transform;
}
.plans__card {
  flex: 0 0 100%;
  max-width: 100%;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 1.5rem;
  padding: 2rem;
  background: white;
}
.navigation-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
} */




/**? MENTORING */
#mentoring {
  scroll-margin-top: 70px; 
}
.mentoring {
  	width: 100%;
  	position: relative;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 60px 24px;
  	box-sizing: border-box;
  	gap: 40px;
  	text-align: center;
  	font-size: 32px;
  	color: #050505;
  	font-family: 'Playfair Display';
}
.mentoring__content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
}
.mentoring__content h3{
  	color: #050505;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mentoring__content p {
    max-width: 31.875rem;
    align-self: center;
  	color: #050505;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.mentoring__content__cards {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	gap: 50px;
  	max-width: 1179px;
  	font-size: 16px;
  	font-family: "Lato", sans-serif;
}
.mentoring__cards {
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 135px 0px 0px;
  	box-sizing: border-box;
  	position: relative;
  	min-width: 300px;
  	max-width: 455px;
    
    border: solid 2px green;
}
.image-cards {
  	width: 100%;
  	position: absolute;
  	margin: 0 !important;
  	height: 83.32%;
  	top: 0%;
  	right: 0%;
  	bottom: 16.68%;
  	left: 0%;
  	border-radius: 20px 20px 0px 0px;
  	max-width: 100%;
  	overflow: hidden;
  	max-height: 100%;
  	object-fit: cover;
  	z-index: 0;
}
.mentoring__text-card{
  	flex: 1;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	border-radius: 20px;
  	background-color: #fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 15px;
  	z-index: 1;

    border: solid 2px red;
}
.mentoring__text-card p{
    flex: 1;
  	position: relative;
  	letter-spacing: 0.05em;
}
@media screen and (min-width: 1024px) {
  .mentoring__content__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
  }

  .mentoring__cards {
    max-width: 100%;
  }
}


/**? PRINCIPLES */
#principles {
  scroll-margin-top: 70px; 
}
.principles {
  	width: 100%;
  	position: relative;
  	background-color: #fffdf9;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 40px 16px;
  	box-sizing: border-box;
  	gap: 40px;
  	text-align: center;
  	font-size: 16px;
  	color: #050505;
  	font-family: "Lato", sans-serif;
}
.principles__title {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	font-size: 32px;
  	font-family: 'Playfair Display';
}
.principles__title h3 {
  	flex: 1;
  	position: relative;
  	font-weight: 600;
}

/*! A REFAZER INICIO AQUI */
/* .texto {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: flex-start;
}
.carrossel {
  	width: 288px;
  	position: relative;
  	height: 141px;
  	overflow: hidden;
  	flex-shrink: 0;
}
.administrao-responsvel-acr-container {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	display: inline-block;
  	width: 288px;
  	min-width: 265px;
}
.administrao-responsvel {
  	margin: 0;
}
.acreditamos-que-os-recursos-s {
  	margin: 0;
  	font-size: 14px;
}
.generosidade-ensinamos-que-container {
  	position: absolute;
  	top: 141px;
  	left: 0px;
  	display: inline-block;
  	width: 288px;
  	min-width: 265px;
}
.planejamento-com-propsito-container {
  	position: absolute;
  	top: 282px;
  	left: 0px;
  	display: inline-block;
  	width: 288px;
  	min-width: 265px;
} */
/*! A REFAZER TERMINA AQUI */



.principles__content {
  	width: 100%;
  	box-shadow: 0px 0px 4px 5px rgba(0, 0, 0, 0.50);
  	border-radius: 1.875rem;
  	background-color: #fff;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 15px 16px;
  	box-sizing: border-box;
  	max-width: 1150px;
}
.principles__card {
  	flex: 1;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 15px;
}
.principles__perfil {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 15px;
  	min-width: 215px;
  	max-width: 215px;
}
.perfil-foto {
  	width: 160px;
  	position: relative;
  	border-radius: 300px;
  	max-height: 260.44px;
  	object-fit: cover;
  	max-width: 215px;
}
.principles__perfil p{
    align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
    font-style: italic;
    flex: 1;
  	position: relative;
  	font-weight: 500;
}

.principles__container {
  	flex: 0.8154;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 0px 30px;
  	box-sizing: border-box;
  	gap: 15px;
  	min-width: 325px;
  	font-size: 14px;
}
.principles__diferencial {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	font-size: 16px;
}
.principles__diferencial-container {
  	align-self: stretch;
  	position: relative;
}
#diferencial {
  	font-weight: 600;
  	font-family: "Lato", sans-serif;
    font-size: 1.25rem;
}
#oferecemos {
  	font-weight: 600;
  	font-family: "Lato", sans-serif;
}
.principles__topicos {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	text-align: left;
}
.principles__diferencial-container ul{
  	margin: 0;
  	font-family: inherit;
  	font-size: inherit;
  	padding-left: 19px;
}
.principles__diferencial-container ul li{
    margin-bottom: 0px;
}
.principles__metodologia {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}
.principles__metodologia p {
  	align-self: stretch;
  	position: relative;
  	line-height: 123.32%;
  	font-weight: 500;
    font-style: italic;
}

/**? DICAS */
.dicas {
  	width: 100%;
  	position: relative;
  	background-color: #fffdf9;
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 60px 24px;
  	box-sizing: border-box;
  	gap: 50px;
  	text-align: center;
  	font-size: 32px;
  	color: #050505;
  	font-family: 'Playfair Display';
}
.dicas__content {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: flex-start;
  	gap: 20px;
}
.dicas__content h3 {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: 0.05em;
  	font-weight: 600;
}
.dicas__content p {
  	width: 100%;
  	position: relative;
  	font-size: 16px;
  	letter-spacing: 0.05em;
  	font-weight: 500;
  	font-family: "Lato", sans-serif;
  	display: inline-block;
  	max-width: 990px;
}
.dicas__books {
  	align-self: stretch;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	padding: 0px 120px;
  	gap: 48px 50px;
  	font-size: 14px;
  	font-family: Inter;
}
.books {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-content: center;
  	gap: 20px;
  	min-width: 192px;
}
.books__images {
  	position: relative;
  	border-radius: 10px;
  	max-width: 120px;
  	overflow: hidden;
  	height: 155px;
  	object-fit: cover;
  	min-width: 120px;
}
.books__text {
  	flex: 1;
  	position: relative;
  	letter-spacing: 0.05em;
  	display: inline-block;
  	min-width: 12.6875rem;
}
/* @media (min-width: 1025px) {
  
  
  .dicas__books {
    display: flex;
  	flex-direction: row;	 
}
  .books__card{ 
      width: 27rem;
      border: solid;
  }
  .books__text {
    width: 12.6875rem;
  }
} */




