@import "modern-normalize";

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ocupa toda a altura da tela */
html,
body {
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: linear-gradient(270deg, #ffffff 0%, #fff6d1 50%, #faeaa5 100%);
}

/* Estrutura para garantir que o conteúdo ocupe 100vh */
.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

/* Tipografia */
h1,
h3 {
  font-family: "Playfair Display", serif;
}

h2,
p,
li,
a {
  font-family: "Lato", sans-serif;
}

.floating-buttons {
  position: fixed;
  bottom: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.btn-float {
  background: transparent;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.3s ease;
  border: none;
  align-self: flex-end;
}

.btn-float img {
  width: 50px;
  height: 50px;
  animation: pulse 2.5s infinite;
}

/* Animação Pulse */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.12);
  }
  100% {
    transform: scale(1);
  }
}




/* Responsividade */
@media (min-width: 768px) {
  .floating-buttons {
    bottom: 30px;
    right: 30px;
    gap: 12px;
  }
.btn-float img {
  width: 60px;
  height: 60px;
  animation: pulse 2.5s infinite;
}
  .back-to-top {
    flex-direction: row;
    gap: 6px;
  }
}
